.LoginContainer {
    height: 90vh;
    width: 90vw;
    background-color: #f4f5f8;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.LoginBoxText {
    font-size: 1.5rem;
}
.ImageContainer {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginBox {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #63d7b0;
    font-weight: bolder;    
}