* {
  margin: 0;
}

.App {
  background-color: #DDDEDD;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.AlertContainer {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  position: fixed;
  right: 20px; 
  z-index: 9999;
}