.ChatArea {
    flex: 0.7;
    display: flex;
    /* background-color: white; */
    flex-direction: column;
    border-radius: 20px;
    border-bottom: 5px solid rgb(9, 218, 255);
    margin: 0 5px 0 0;
}

.ChatAreaHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.HeaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.MessageContainer {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    margin: 10px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.MessageArea {
    flex: 1;
    padding: 10px 10px;
    margin: 10px;
    margin-left: 5px;
    border-radius: 20px;
}



.MessageContainer::-webkit-scrollbar {
    display: none;
} 

.TextInputArea {
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.SearchBox {
    width: 100%;
    outline-width: 0;
    border: none;
    margin-left: 10px;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.54);
}

.ConversationContainer {
    display: flex;
    justify-content: flex-end;
}
